<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>SuperTennis</title>
</head>
<body>
<header>
    <nav>
        <a href="index">Home</a>
        <a href="new-match">New</a>
        <a href="matches?page=1">Matches</a>
    </nav>
</header>

<main>
    <div class="scoreboard">
        <h2>Результаты матча</h2>
        <form action="matches" method="get">
            <input type="hidden" name="page" value="1">
            <input class="form-search-input" type="text" name="search" value="{{ search_query }}" placeholder="Поиск..." list="name-suggestions">
            <button class="btn" type="submit">Искать</button>
            <!-- datalist для автозаполнения на основе имен выйгравших матч -->
            <datalist id="name-suggestions">
                {% for name in list_winner_players %}
                    <option value="{{ name }}"></option>
                {% endfor %}
            </datalist>
        </form>
        <div class="table">
            <div class="row">
                <div class="cell">Игрок1</div>
                <div class="cell">Игрок2</div>
                <div class="cell">Победитель</div>
            </div>
            {% for match in matches %}
                <div class="row">
                    <div class="cell">{{ match.player1.name }}</div>
                    <div class="cell">{{ match.player2.name }}</div>
                    <div class="cell">{{ match.winner.name }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="center">
            <div class="pagination">
                {% if page > 1 %}
                    <a href="?page={{ page - 1 }}&search={{ search_query }}">Назад</a>
                {% endif %}

                <a>Стр. {{ page }} из {{ pages }}</a>

                {% if page < pages %}
                    <a href="?page={{ page + 1 }}&search={{ search_query }}">Вперед</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
</div>
</body>
</html>